
*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --color-blanco-fondoYsombras: #FFFFFF;
    --color-azul: #2F3645;
    --color-azul-con-transparencia:#2f3645b3;
    --color-azul-con-transparencia-2: #767a81de;
    --color-sombra-gris: #808080;
    --color-sombra-negra: #000000;
    --tipografia: Raleway , sans-serif;
    --color-azul-con-transparencia-3:#767a8184;
}


body{
    margin: 0;
    background-color: var(--color-blanco-fondoYsombras);
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.navegacion{
    padding: 25px;

    background-color: rgba(0, 0, 0, 0);
    
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    position: fixed;
    z-index: 10;
    transition: background-color 0.5s ease-in-out;
}

.navegacion_escroleada{
    background-color: #FFFFFF;
    color: yellowgreen;
    z-index: 150;
    transition: all 0.5s ease-in-out;
}

.navegacion a{
    text-decoration: none;
    font-size: 1.5em;

    color: var(--color-blanco-fondoYsombras);
    text-shadow:2px 3px var(--color-sombra-gris), 
                3px 4px var(--color-sombra-negra);
    
    font-weight: 500;
    font-family: var(--tipografia);
    
    padding: 5px;
    margin: 10px;
    transition: all 0.05s;
    display: inline-block;
}

.navegacion a:hover{
    text-shadow:3px 4px var(--color-sombra-negra);
    transform: translate(2px,2px);
}
/*----------------index---------------------------------------------*/
#header_index{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}    

#header_index h1{
    color: var(--color-blanco-fondoYsombras);
    font-family: var(--tipografia);
    font-size: 4.5em;
    font-weight: 400;
    text-align: center;
    text-shadow:2px 3px var(--color-sombra-gris), 
                5px 6px var(--color-sombra-negra);
}

#h2index{
    font-family: var(--tipografia);
    font-weight: 500;
    text-align: center;
    font-size: 3.3em;
    color: var(--color-azul);
    text-shadow:1px 1px var(--color-blanco-fondoYsombras),
                2px 2px var(--color-sombra-gris);
    padding: 40px;
    margin: 40px;
}



#divpadrecontenido{
    width: 100%;
    height: 700px;
    background-color: var(--color-blanco-fondoYsombras);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.anclasindex{
    width: 500px;
    height: 600px;
    background-color: var(--color-blanco-fondoYsombras);
    margin: 20px;
    display: flex;
    flex-direction: column;
    transition: all 1s ease-out;
    opacity: 1;
    transform: translateX(0);
}
.anclasindex h3{
    text-align: center;
    font-family: var(--tipografia);
    font-size: 20px;
    font-weight: 300;
    color: var(--color-sombra-negra);
    margin: 40px;
}
.anclasindex a{
    text-align: center;
    font-family: var(--tipografia);
    font-size: 1em;
    color: var(--color-sombra-negra);
    padding: 10px;
    display: inline-block;
    background-color: var(--color-azul);
    color: var(--color-blanco-fondoYsombras);
    text-decoration: none;
}

.anclasindex_oculta{
    opacity: 0;
    transform: translateX(200px);
}

#imgchica{
    height: 346px;
}

/*----------------HISTORIA---------------------------------------*/
#header_historia{
    position: relative;
    height: 70vh;
    width: 100%;    
    background-image: linear-gradient(var(--color-azul-con-transparencia)), url(./assets/imagenes/historia-programacion.jpg);
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header_historia h2{
    color: var(--color-blanco-fondoYsombras);
    width: 100%;
    padding: 20px;
    font-family: var(--tipografia);
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    text-shadow:2px 3px var(--color-sombra-gris), 
                5px 6px var(--color-sombra-negra);
    z-index: 9;
}

#main_historia{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divs_info{
    width: 90%;
    box-sizing: border-box;
    margin: 40px;
    background-color: var(--color-blanco-fondoYsombras);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div_texto{
    width: 50%;
    height: auto;
    margin: 20px;
    opacity: 0;
    transition: all 1s ease-out;
    transform: translateX(-100px);
    
}

.div_texto h2{
    margin: 25px;
    max-width: 100%;
    text-align: center;
    font-family: var(--tipografia);
    font-size: 3em;
    font-weight: 500;
    color: var(--color-azul);
    text-shadow:1px 1px var(--color-blanco-fondoYsombras),
                2px 2px var(--color-sombra-gris);
}
.div_texto p{
    margin: 25px;
    font-family: var(--tipografia);
    color: var(--color-azul);
    font-size: 1.1em;
    
}

.imageneshistoria{
    width: 50%;
    margin: 20px;
    border: 1px solid var(--color-sombra-negra);
    opacity: 0;
    transition: all 1s ease-out;
    transform: translateX(100px);
    z-index: 200;
}

.divs_info.mostrar>*{
    opacity: 1;
    transform: translateX(0);
    z-index: 10;
}

/*--------------------*/

#contenedor_video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 900px;
    height: 90vh;
    width: 90%;
    padding: 20px;
    background-color: var(--color-blanco-fondoYsombras);
}

#contenedor_video h2{
    font-family: var(--tipografia);
    font-size: 3em;
    font-weight: 500;
    color: var(--color-sombra-negra);
    text-shadow:1px 1px var(--color-blanco-fondoYsombras),
                2px 2px var(--color-sombra-gris);
    margin: 30px;
    padding: 50px;
}

#div_video{
    padding: 4px;
    background-color: var(--color-azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: clip;
}
video{
    width: 100%;
}

#barra_video{
    width: 100%;
    margin: 2px;
    background-color: var(--color-azul);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#botonera{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-azul);
}
#botonera +p {
    margin: 30px;
    padding: 10px;
    align-self: center;
    justify-self: center;
    font-family: var(--tipografia);
    color: var(--color-blanco-fondoYsombras);
}
#boton_play{
    padding: 10px;
    margin: 7px;
    width: 55px;
    box-shadow: 2px 2px 0 var(--color-sombra-gris)
}
#boton_pausa{
    padding: 10px;
    margin: 7px;
    width: 55px;
    box-shadow: 2px 2px 0 var(--color-sombra-gris)
}
#boton_play:active, #boton_pausa:active{
    box-shadow: none;
    transition: all 0.1s ease;
    transform: translate(4px);
}

/*-----------------JUEGO-----------------------------------------------*/

#mainjuego{
    width: 100%;
    margin: 0px;
}

#titulojuego{
    background-image: linear-gradient(var(--color-azul-con-transparencia)), url(/assets/imagenes/img2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 280px;
}

#titulojuego h2{
    color: var(--color-blanco-fondoYsombras);
    font-family: var(--tipografia);
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    text-shadow:2px 3px var(--color-sombra-gris), 
                5px 6px var(--color-sombra-negra);
}

#juego{
    max-width: 900px;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divrompecabezas{
    width: 950px;
    height: 350px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blanco-fondoYsombras);
}

#textojuego{
    height: auto;
    width: 60%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--tipografia);
    font-weight: 400;
    font-size: 1.1em;
    text-align: center;
    border-radius: 15px;
    border: 3px solid var(--color-sombra-negra);
}

#botonreiniciar{
    height: 50px;
    width: 200px;
    margin:10px;
    padding: 10px;
    border: 3px solid var(--color-sombra-negra);
    background-color: var(--color-azul);
    color: var(--color-blanco-fondoYsombras);
}

.caja{
    background-color: var(--color-sombra-gris);
    width: 300px;
    height: 300px;
    margin: 15px;

    color: var(--color-blanco-fondoYsombras);
    background-color: var(--color-azul-con-transparencia);
    border: 3px solid var(--color-azul);
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--tipografia);
    font-size: 15px;

    overflow: hidden;
}

.caja_vacia{
    margin: 0px;
    border: 0.2px dashed var(--color-azul);
}

.caja:hover{
    background-color: var(--color-azul);
}


#divcajas.animado{
    z-index: 1;
    transform: scale(1.4) translateY(-170px);
    transition: all 0.8s ease-out;
}

#mensajefinal{
    opacity: 0;
    color: var(--color-blanco-fondoYsombras);
    font-family: var(--tipografia);
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    text-shadow:1px 6px 2px var(--color-sombra-gris), 
                5px 12px 2px var(--color-sombra-negra);
    transform: translateY(20px);
    transition: all 0.8s ease-out;
    z-index: 200;
    background-color: var(--color-azul-con-transparencia-3);
    padding: 40px;
    border-radius: 10px;
}

#mensajefinal.visible{
    opacity: 1;
    transform: translateY(70px);
    z-index: 10;
}

.caja_vacia .cajapiezas{
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;

}

/*----------------FOOTER---------------------------------------------*/
footer{
    margin: 0;
    padding: 80px;
    bottom: -50px;
    max-width: 100;
    background-color: var(--color-azul);
    color: var(--color-blanco-fondoYsombras);
    
    position: relative ;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

#footerizq{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 60px;
    box-sizing: border-box;
}

#footerizq img{
    max-width: 40%;
}

.footers{
    width: 30%;
    box-sizing: border-box;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-blanco-fondoYsombras);
    font-family: var(--tipografia);
}

/*------------keyframes------------*/
@keyframes sacudir{
    0%{
    transform: translateX(0) rotate(0);}
    20%{
    transform: translateX(-3px) rotate(-2deg);}
    40%{
    transform: translateX(3px) rotate(2deg);}
    60%{
    transform: translateX(-2px) rotate(-1deg);}
    80% {
    transform: translateX(2px) rotate(1deg);}
}

.sacudir{
    animation: sacudir 0.5s ease-in;
}

/*------------mediaquerys----------*/


@media screen and (max-width: 1200px) {
    #juego{
        flex-direction: row;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .divrompecabezas{
        flex-direction: row;
        flex-wrap:wrap-reverse;
        align-items: center;
        height: auto;
        width: 100%;
    }
    #textojuego{
        width: 90%;
        height: auto;
        margin-bottom: 20px;
    }
    #divpadrecontenido{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .cajapiezas{
        transform: rotate(-90deg);
    }
}
@media (max-width: 575px){

    body{
        font-size: 14px;
    }
    .navegacion a{
        font-size: 1.2em;
        margin: 5px;
    }
    .navegacion{
        padding: 15px;
        width: 100vw;
    }
    #titulojuego{
        width: 100%;
        justify-self: center;
        align-self:center;
    }
    #titulojuego h2{
        font-size: 2.5em;
        padding: 150px 20px;
    }
}